.header {
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: 140px;
  padding: 0;
  margin: 0 auto;
  font-family: "MetropolisB";
}
.header .header__logoMobile {
  display: block;
  text-align: center;
}
.header .top {
  display: none;
  align-items: center;
  position: relative;
  height: 70px;
  width: 100%;
  margin-top: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid #E1E2E8;
}
.header .top .header__logo {
  display: none;
}
.header .top .header__logo img {
  display: flex;
  top: 10px;
  width: 150px;
}
.header .top .top__row {
  position: relative;
  left: 5%;
  width: 300px;
  height: 50px;
}
.header .top .top__row .top__contact {
  position: absolute;
  display: inline-block;
  top: 20px;
  color: #000;
  left: 0;
  transition: color 0.3s;
}
.header .top .top__row .top__contact span {
  font-size: 10px;
}
.header .top .top__row .top__contact:hover {
  color: #9bcb3b;
}
.header .top .top__row .top__favourite {
  position: absolute;
  display: inline-block;
  top: 20px;
  color: #000;
  left: 30%;
  transition: color 0.3s;
}
.header .top .top__row .top__favourite span {
  font-size: 10px;
}
.header .top .top__row .top__favourite:hover {
  color: #9bcb3b;
}
.header .top .top__row .top__account {
  position: absolute;
  display: inline-block;
  top: 20px;
  color: #000;
  left: 61%;
  transition: color 0.3s;
}
.header .top .top__row .top__account span {
  font-size: 10px;
}
.header .top .top__row .top__account:hover {
  color: #9bcb3b;
}
.header .top .top__shoppingCart {
  position: absolute;
  top: 12.5px;
  right: 30px;
  height: 45px;
  width: 245px;
  border: 1px solid #e1e2e8;
  color: #000;
}
.header .top .top__shoppingCart .shoppingCart__bg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3.5px;
  left: 0;
  height: 35px;
  width: 60px;
  border-right: 1px solid #e1e2e8;
}
.header .top .top__shoppingCart .shoppingCart__bg .shoppingCart__cartIcon {
  display: inline-block;
  top: 3px;
  left: 12px;
  height: 55px;
  font-size: 30px;
}
.header .top .top__shoppingCart .shoppingCart__bg .shoppingCart__cartIcon .shoppingCart__amountBox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3px;
  left: 20px;
  width: 22px;
  height: 12px;
  border-radius: 3px;
  background-color: #9BCB3B;
}
.header .top .top__shoppingCart .shoppingCart__bg .shoppingCart__cartIcon .shoppingCart__amountBox .amountBox__count {
  font-family: "MetropolisB";
  font-size: 8px;
  color: #fff;
}
.header .top .top__shoppingCart span {
  position: absolute;
  left: 80px;
  top: 10px;
  font-size: 14px;
}
.header .top .top__shoppingCart span p {
  font-family: "Metropolis";
  position: absolute;
  top: 0;
}
.header .top .top__shoppingCart .shoppingCart__arrowBg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1px;
  right: -1px;
  width: 30px;
  height: 45px;
  background-color: #9bcb3b;
}
.header .top .top__shoppingCart .shoppingCart__arrowIcon {
  color: #fff;
  font-size: 8px;
}
.header a {
  text-decoration: none;
  color: #000;
}
.header .icon {
  position: absolute;
  top: -3px;
  left: -30px;
  font-size: 22px;
  display: inline-block;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  top: 70px;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  color: #000;
  border-bottom: 1px solid #E1E2E8;
}
.header .nav .nav__item {
  display: flex;
  font-size: 14px;
  transition: color 0.5s, scale 0.5s;
  cursor: pointer;
}
.header .nav .nav__item:hover {
  color: #9bcb3b;
  scale: 1.08;
}

/*# sourceMappingURL=header.css.map */
