/* Error: expected "{".
 *     ,
 * 228 | >>>>>>> ae80e1dcc17f376c9450ae73ff40f943d2c3a17f
 *     |                                                 ^
 *     '
 *   scss\media.scss 228:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 228 \2502  >>>>>>> ae80e1dcc17f376c9450ae73ff40f943d2c3a17f\d\a     \2502                                                  ^\a     \2575 \a   scss\\media.scss 228:49  root stylesheet';
}
