@media screen and (min-width: 200px) {
  .banner {
    display: flex;
    flex-direction: column;
  }
  .banner .banner__two {
    margin: 5px 0;
  }
  .banner .banner__btn {
    display: none;
  }
  .top {
    display: none;
  }
  .header {
    height: 70px;
  }
  .header .nav {
    display: none;
  }
}
@media screen and (min-width: 430px) {
<<<<<<< HEAD
  main .banner .banner__one .banner__headline {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 33px;
  }
  main .banner .banner__one .banner__subheading {
    position: absolute;
    top: 38%;
    left: 8%;
    font-size: 33px;
  }
  main .banner .banner__two .banner__headline {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 33px;
  }
  main .banner .banner__two .banner__subheading {
    position: absolute;
    top: 38%;
    left: 8%;
    font-size: 33px;
  }
  main .banner .banner__three .banner__headline {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 33px;
  }
  main .banner .banner__three .banner__subheading {
    position: absolute;
    top: 38%;
    left: 8%;
    font-size: 33px;
  }
}
@media screen and (min-width: 600px) {
  main .banner .banner__one .banner__headline {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 41px;
  }
  main .banner .banner__one .banner__subheading {
    position: absolute;
    top: 38%;
    left: 8%;
    font-size: 41px;
  }
  main .banner .banner__two .banner__headline {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 43px;
  }
  main .banner .banner__two .banner__subheading {
    position: absolute;
    top: 38%;
    left: 8%;
    font-size: 43px;
  }
  main .banner .banner__three .banner__headline {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 43px;
  }
  main .banner .banner__three .banner__subheading {
    position: absolute;
    top: 38%;
    left: 8%;
    font-size: 43px;
=======
  .homeSlider .homeSlider__photo .homeSlider__text {
    width: 200px;
  }
  .homeSlider .homeSlider__photo .homeSlider__text .homeSlider__heading {
    font-size: 17px;
  }
  .homeSlider .homeSlider__photo .homeSlider__text .homeSlider__subheading {
    font-size: 17px;
  }
  .homeSlider .homeSlider__photo .homeSlider__text .homeSlider__info {
    font-size: 11px;
  }
}
@media screen and (min-width: 600px) {
  .homeSlider .homeSlider__photo .homeSlider__text {
    width: 300px;
  }
  .homeSlider .homeSlider__photo .homeSlider__text .homeSlider__heading {
    font-size: 22px;
  }
  .homeSlider .homeSlider__photo .homeSlider__text .homeSlider__subheading {
    font-size: 22px;
  }
  .homeSlider .homeSlider__photo .homeSlider__text .homeSlider__info {
    font-size: 14px;
>>>>>>> 6f9421c99161762cbdae9207fb3a87c3751bc8d7
  }
}
@media screen and (min-width: 768px) {
  .banner {
    display: flex;
    flex-direction: row;
  }
  .banner .banner__two {
    margin: 0 5px;
  }
  .mobileNav {
    display: none;
  }
  .top {
    display: flex;
  }
  .top .header__logoMobile {
    display: none;
  }
  .header {
    height: 140px;
  }
  .header .header__logo {
    display: block;
  }
  .header .header__logoMobile {
    display: none;
  }
  .header .nav {
    display: flex;
  }
  .hamburger {
    display: none;
  }
<<<<<<< HEAD
  main .banner .banner__one .banner__headline {
    position: absolute;
    top: 13%;
    left: 4%;
    font-size: 19px;
  }
  main .banner .banner__one .banner__subheading {
    position: absolute;
    top: 28%;
    left: 4%;
    font-size: 19px;
  }
  main .banner .banner__two .banner__headline {
    position: absolute;
    top: 13%;
    left: 4%;
    font-size: 19px;
  }
  main .banner .banner__two .banner__subheading {
    position: absolute;
    top: 28%;
    left: 4%;
    font-size: 20px;
  }
  main .banner .banner__three .banner__headline {
    position: absolute;
    top: 13%;
    left: 4%;
    font-size: 19px;
  }
  main .banner .banner__three .banner__subheading {
    position: absolute;
    top: 28%;
    left: 4%;
    font-size: 20px;
  }
  main .banner .banner__btn {
    position: absolute;
    display: block;
    top: 68%;
    width: 50%;
    height: 50px;
=======
  .homeSlider .homeSlider__photo .homeSlider__text {
    top: 5%;
    width: 300px;
  }
  .homeSlider .homeSlider__photo .homeSlider__text .homeSlider__heading {
    font-size: 30px;
  }
  .homeSlider .homeSlider__photo .homeSlider__text .homeSlider__subheading {
    font-size: 30px;
  }
  .homeSlider .homeSlider__photo .homeSlider__text .homeSlider__info {
    font-size: 16px;
>>>>>>> 6f9421c99161762cbdae9207fb3a87c3751bc8d7
  }
}
@media screen and (min-width: 850px) {
  .header .top .top__row {
    left: 39%;
  }
  main .banner .banner__one .banner__headline {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 19px;
  }
  main .banner .banner__one .banner__subheading {
    position: absolute;
    top: 38%;
    left: 8%;
    font-size: 20px;
  }
  main .banner .banner__two .banner__headline {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 20px;
  }
  main .banner .banner__two .banner__subheading {
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 20px;
  }
  main .banner .banner__three .banner__headline {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 20px;
  }
  main .banner .banner__three .banner__subheading {
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .header .top .top__row {
    left: 46%;
  }
<<<<<<< HEAD
  main .banner .banner__one .banner__headline {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 23px;
  }
  main .banner .banner__one .banner__subheading {
    position: absolute;
    top: 38%;
    left: 8%;
    font-size: 23px;
  }
  main .banner .banner__two .banner__headline {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 23px;
  }
  main .banner .banner__two .banner__subheading {
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 23px;
  }
  main .banner .banner__three .banner__headline {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 23px;
  }
  main .banner .banner__three .banner__subheading {
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 23px;
=======
  .homeSlider .homeSlider__photo .homeSlider__text {
    top: 10%;
    width: 300px;
  }
  .homeSlider .homeSlider__photo .homeSlider__text .homeSlider__heading {
    font-size: 22px;
  }
  .homeSlider .homeSlider__photo .homeSlider__text .homeSlider__subheading {
    font-size: 22px;
  }
  .homeSlider .homeSlider__photo .homeSlider__text .homeSlider__info {
    font-size: 18px;
  }
  .homeSlider .homeSlider__next {
    font-size: 18px;
    width: 40px;
  }
  .homeSlider .homeSlider__prev {
    font-size: 18px;
    width: 40px;
>>>>>>> 6f9421c99161762cbdae9207fb3a87c3751bc8d7
  }
}
@media screen and (min-width: 1150px) {
  .header .top .top__row {
    width: 400px;
    left: 47%;
  }
  .header .top .top__row .top__contact span {
    font-size: 14px;
  }
  .header .top .top__row .top__favourite span {
    font-size: 14px;
  }
  .header .top .top__row .top__account {
    left: 60%;
  }
  .header .top .top__row .top__account span {
    font-size: 14px;
  }
  main .banner .banner__one .banner__headline {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 27px;
  }
  main .banner .banner__one .banner__subheading {
    position: absolute;
    top: 38%;
    left: 8%;
    font-size: 27px;
  }
  main .banner .banner__two .banner__headline {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 27px;
  }
  main .banner .banner__two .banner__subheading {
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 27px;
  }
  main .banner .banner__three .banner__headline {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 27px;
  }
  main .banner .banner__three .banner__subheading {
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 27px;
  }
}
@media screen and (min-width: 1400px) {
  .header .top .top__row {
    left: 57%;
  }
<<<<<<< HEAD
  main .banner .banner__one .banner__headline {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 33px;
  }
  main .banner .banner__one .banner__subheading {
    position: absolute;
    top: 38%;
    left: 8%;
    font-size: 33px;
  }
  main .banner .banner__two .banner__headline {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 33px;
  }
  main .banner .banner__two .banner__subheading {
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 33px;
  }
  main .banner .banner__three .banner__headline {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 33px;
  }
  main .banner .banner__three .banner__subheading {
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 33px;
  }
  main .banner .banner__btn {
    position: absolute;
    display: block;
    top: 68%;
    width: 50%;
    height: 60px;
=======
  .homeSlider .homeSlider__photo .homeSlider__text {
    top: 10%;
    width: 400px;
  }
  .homeSlider .homeSlider__photo .homeSlider__text .homeSlider__heading {
    font-size: 40px;
  }
  .homeSlider .homeSlider__photo .homeSlider__text .homeSlider__subheading {
    font-size: 40px;
  }
  .homeSlider .homeSlider__photo .homeSlider__text .homeSlider__info {
    font-size: 20px;
  }
  .homeSlider .homeSlider__next {
    font-size: 24px;
    height: 70px;
    width: 60px;
  }
  .homeSlider .homeSlider__prev {
    font-size: 24px;
    height: 70px;
    width: 60px;
>>>>>>> 6f9421c99161762cbdae9207fb3a87c3751bc8d7
  }
}
@media screen and (min-width: 1700px) {
  .header .top .top__row {
    left: 65%;
  }
<<<<<<< HEAD
  main .banner .banner__one .banner__headline {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 44px;
  }
  main .banner .banner__one .banner__subheading {
    position: absolute;
    top: 38%;
    left: 8%;
    font-size: 44px;
  }
  main .banner .banner__two .banner__headline {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 44px;
  }
  main .banner .banner__two .banner__subheading {
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 44px;
  }
  main .banner .banner__three .banner__headline {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 44px;
  }
  main .banner .banner__three .banner__subheading {
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 44px;
=======
  .homeSlider .homeSlider__photo .homeSlider__text {
    top: 10%;
    width: 470px;
  }
  .homeSlider .homeSlider__photo .homeSlider__text .homeSlider__heading {
    font-size: 50px;
  }
  .homeSlider .homeSlider__photo .homeSlider__text .homeSlider__subheading {
    font-size: 50px;
  }
  .homeSlider .homeSlider__photo .homeSlider__text .homeSlider__info {
    font-size: 26px;
>>>>>>> 6f9421c99161762cbdae9207fb3a87c3751bc8d7
  }
}

/*# sourceMappingURL=media.css.map */
