@media screen and (min-width: 200px) {
	.footer {
		display: none;
	}
	.footerMobile {
		display: flex;
	}
	.banner {
		display: flex;
		flex-direction: column;
		.banner__two {
			margin: 5px 0;
		}
		.banner__btn {
			display: none;
		}
	}
	.top {
		display: none;
	}
	.header {
		height: 70px;
		.nav {
			display: none;
		}
	}
	main {
		.productList {
			.productList__container {
				.productList__box {
					.productList__arrow--right {
						display: none;
					}
					.productList__arrow--left {
						display: none;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 430px) {
	main {
		.banner {
			.banner__one {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 33px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 33px;
				}
			}
			.banner__two {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 33px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 33px;
				}
			}
			.banner__three {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 33px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 33px;
				}
			}
		}
		.homeSlider {
			.homeSlider__photo {
				.homeSlider__text {
					top: 10%;
					width: 200px;
					.homeSlider__heading {
						font-size: 17px;
					}
					.homeSlider__subheading {
						font-size: 17px;
					}
					.homeSlider__info {
						font-size: 11px;
					}
					.homeSlider__seeMore {
						top: 80px;
						height: 16px;
						font-size: 8px;
						width: 50%;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 600px) {
	main {
		.banner {
			.banner__one {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 41px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 41px;
				}
			}
			.banner__two {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 43px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 43px;
				}
			}
			.banner__three {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 43px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 43px;
				}
			}
		}
		.homeSlider {
			.homeSlider__photo {
				.homeSlider__text {
					top: 20%;
					width: 300px;
					.homeSlider__heading {
						font-size: 22px;
					}
					.homeSlider__subheading {
						font-size: 22px;
					}
					.homeSlider__info {
						font-size: 14px;
					}
					.homeSlider__seeMore {
						top: 100px;
						height: 24px;
						font-size: 12px;
						width: 50%;
					}
				}
			}
		}
		.productList {
			.productList__headline {
				.productList__bottom-red {
					position: absolute;
					left: 43%;
					border-bottom: 1px solid #f74137;
					width: 70px;
					height: 1px;
				}
			}
		}
		.productList {
			.productList__headline {
				.productList__headlineText {
					padding-top: 53px;
				}
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.footer {
		display: inline-flex;
	}
	.footerMobile {
		display: none;
		.footerMobile__title {
			display: none;
		}
	}
	.banner {
		display: flex;
		flex-direction: row;
		.banner__two {
			margin: 0 5px;
		}
	}
	.mobileNav {
		display: none;
	}

	.header {
		.top {
			display: flex;
			.header__logo {
				display: block;
			}
		}
		height: 140px;
		.header__logoMobile {
			display: none;
		}
		.nav {
			display: flex;
		}
	}
	.hamburger {
		display: none;
	}
	main {
		.banner {
			.banner__one {
				.banner__headline {
					position: absolute;
					top: 13%;
					left: 4%;
					font-size: 19px;
				}
				.banner__subheading {
					position: absolute;
					top: 28%;
					left: 4%;
					font-size: 19px;
				}
			}
			.banner__two {
				.banner__headline {
					position: absolute;
					top: 13%;
					left: 4%;
					font-size: 19px;
				}
				.banner__subheading {
					position: absolute;
					top: 28%;
					left: 4%;
					font-size: 20px;
				}
			}
			.banner__three {
				.banner__headline {
					position: absolute;
					top: 13%;
					left: 4%;
					font-size: 19px;
				}
				.banner__subheading {
					position: absolute;
					top: 28%;
					left: 4%;
					font-size: 20px;
				}
			}
			.banner__btn {
				position: absolute;
				display: block;
				top: 68%;
				width: 60%;
				height: 40px;
				font-size: 12px;
			}
		}
		.homeSlider {
			.homeSlider__photo {
				.homeSlider__text {
					top: 5%;
					width: 300px;
					.homeSlider__heading {
						font-size: 22px;
					}
					.homeSlider__subheading {
						font-size: 22px;
					}
					.homeSlider__info {
						font-size: 16px;
					}
					.homeSlider__seeMore {
						top: 120px;
						height: 32px;
						font-size: 11px;
						width: 50%;
					}
				}
			}
		}
		.productList {
			.productList__headline {
				.productList__bottom-red {
					position: absolute;
					left: 45%;
					border-bottom: 1px solid #f74137;
					width: 70px;
					height: 1px;
				}
			}
		}
		.productList {
			.productList__container {
				.productList__box {
					.productList__slider {
						overflow-x: hidden;
					}
					.productList__arrow--right {
						display: flex;
					}
					.productList__arrow--left {
						display: flex;
					}
				}
			}
		}
		.productList {
			.productList__container {
				.productList__box {
					.productList__arrows {
						.productList__arrow--left {
							top: 36%;
						}
						.productList__arrow--right {
							top: 36%;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 850px) {
	.header {
		.top {
			.top__row {
				left: 15%;
			}
		}
	}
	main {
		.banner {
			.banner__one {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 19px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 20px;
				}
			}
			.banner__two {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 20px;
				}
				.banner__subheading {
					position: absolute;
					top: 40%;
					left: 8%;
					font-size: 20px;
				}
			}
			.banner__three {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 20px;
				}
				.banner__subheading {
					position: absolute;
					top: 40%;
					left: 8%;
					font-size: 20px;
				}
			}
		}
		.productList {
			.productList__container {
				.productList__box {
					.productList__arrows {
						.productList__arrow--left {
							top: 36%;
						}
						.productList__arrow--right {
							top: 36%;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 992px) {
	.header {
		.top {
			.top__row {
				left: 16%;
				width: 400px;
				.top__contact {
					span {
						font-size: 14px;
					}
				}
				.top__favourite {
					span {
						font-size: 14px;
					}
				}
				.top__account {
					left: 60%;
					span {
						font-size: 14px;
					}
				}
			}
			.header__logo {
				img {
					width: 180px;
				}
			}
		}
	}
	main {
		.banner {
			.banner__one {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 23px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 23px;
				}
			}
			.banner__two {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 23px;
				}
				.banner__subheading {
					position: absolute;
					top: 40%;
					left: 8%;
					font-size: 23px;
				}
			}
			.banner__three {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 23px;
				}
				.banner__subheading {
					position: absolute;
					top: 40%;
					left: 8%;
					font-size: 23px;
				}
			}
		}

		.homeSlider {
			.homeSlider__photo {
				.homeSlider__text {
					top: 10%;
					width: 300px;
					.homeSlider__heading {
						font-size: 30px;
					}
					.homeSlider__subheading {
						font-size: 30px;
					}
					.homeSlider__info {
						font-size: 18px;
					}
					.homeSlider__seeMore {
						top: 150px;
						height: 36px;
						font-size: 13px;
						width: 55%;
					}
				}
			}
			.homeSlider__next {
				font-size: 18px;
				width: 40px;
			}
			.homeSlider__prev {
				font-size: 18px;
				width: 40px;
			}
		}
		.productList {
			.productList__headline {
				.productList__bottom-red {
					position: absolute;
					left: 46%;
					border-bottom: 1px solid #f74137;
					width: 70px;
					height: 1px;
				}
			}
		}
		.productList {
			.productList__container {
				.productList__box {
					.productList__arrows {
						.productList__arrow--left {
							top: 36%;
						}
						.productList__arrow--right {
							top: 36%;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1150px) {
	.header {
		.top {
			.top__row {
				left: 24%;
			}
			.header__logo {
				img {
					width: 230px;
				}
			}
		}
	}
	main {
		.banner {
			.banner__one {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 27px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 27px;
				}
			}
			.banner__two {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 27px;
				}
				.banner__subheading {
					position: absolute;
					top: 40%;
					left: 8%;
					font-size: 27px;
				}
			}
			.banner__three {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 27px;
				}
				.banner__subheading {
					position: absolute;
					top: 40%;
					left: 8%;
					font-size: 27px;
				}
			}
		}
		.productList {
			.productList__container {
				.productList__box {
					.productList__arrows {
						.productList__arrow--left {
							top: 36%;
						}
						.productList__arrow--right {
							top: 36%;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1400px) {
	.header {
		.top {
			.top__row {
				left: 33%;
			}
			.header__logo {
				img {
					width: 250px;
				}
			}
			.top__shoppingCart {
				top: 5px;
				height: 55px;
				width: 290px;
				.shoppingCart__bg {
					top: 7.5px;
					height: 40px;
					width: 75px;
					.shoppingCart__cartIcon {
						left: 17px;
						font-size: 34px;
						.shoppingCart__amountBox {
							width: 26px;
							height: 14px;
							.amountBox__count {
								left: 3.7px;
								bottom: -10px;
								font-size: 10px;
								color: #fff;
							}
						}
					}
				}
				span {
					left: 100px;
					top: 14px;
					font-size: 14px;
				}
				.shoppingCart__arrowBg {
					height: 55px;
				}
			}
		}
	}
	main {
		.banner {
			.banner__one {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 33px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 33px;
				}
			}
			.banner__two {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 33px;
				}
				.banner__subheading {
					position: absolute;
					top: 40%;
					left: 8%;
					font-size: 33px;
				}
			}
			.banner__three {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 33px;
				}
				.banner__subheading {
					position: absolute;
					top: 40%;
					left: 8%;
					font-size: 33px;
				}
			}
			.banner__btn {
				position: absolute;
				display: block;
				top: 68%;
				width: 50%;
				height: 60px;
			}
		}

		.homeSlider {
			.homeSlider__photo {
				.homeSlider__text {
					top: 10%;
					width: 400px;
					.homeSlider__heading {
						font-size: 40px;
					}
					.homeSlider__subheading {
						font-size: 40px;
					}
					.homeSlider__info {
						font-size: 20px;
					}
					.homeSlider__seeMore {
						top: 180px;
						height: 44px;
						font-size: 16px;
						width: 56%;
					}
				}
			}
			.homeSlider__next {
				font-size: 24px;
				height: 70px;
				width: 60px;
			}
			.homeSlider__prev {
				font-size: 24px;
				height: 70px;
				width: 60px;
			}
		}
		.productList {
			.productList__headline {
				.productList__bottom-red {
					position: absolute;
					left: 47%;
					border-bottom: 1px solid #f74137;
					width: 70px;
					height: 1px;
				}
			}
		}
		.productList {
			.productList__container {
				.productList__box {
					.productList__arrows {
						.productList__arrow--left {
							top: 36%;
						}
						.productList__arrow--right {
							top: 36%;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1470px) {
	// .header {
	// 	.top {
	// 		.top__row {
	// 			left: 40%;
	// 		}
	// 	}
	// }
	.productList {
		.productList__container {
			.productList__box {
				.productList__arrows {
					.productList__arrow--left {
						top: 38%;
					}
					.productList__arrow--right {
						top: 38%;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1700px) {
	.header {
		.top {
			.top__row {
				left: 40%;
				width: 550px;
			}
		}
	}
	main {
		.banner {
			.banner__one {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 44px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 44px;
				}
			}
			.banner__two {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 44px;
				}
				.banner__subheading {
					position: absolute;
					top: 40%;
					left: 8%;
					font-size: 44px;
				}
			}
			.banner__three {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 44px;
				}
				.banner__subheading {
					position: absolute;
					top: 40%;
					left: 8%;
					font-size: 44px;
				}
			}
		}
		.homeSlider {
			.homeSlider__photo {
				.homeSlider__text {
					top: 15%;
					width: 470px;
					height: 300px;
					.homeSlider__heading {
						font-size: 50px;
					}
					.homeSlider__subheading {
						font-size: 50px;
					}
					.homeSlider__info {
						font-size: 26px;
					}
					.homeSlider__seeMore {
						top: 220px;
						height: 55px;
						font-size: 20px;
						width: 58%;
					}
				}
			}
		}
		.productList {
			.productList__headline {
				.productList__bottom-red {
					position: absolute;
					left: 47.9%;
					border-bottom: 1px solid #f74137;
					width: 70px;
					height: 1px;
				}
			}
		}
	}
}
