@media screen and (min-width: 200px) {
	.banner {
		display: flex;
		flex-direction: column;
		.banner__two {
			margin: 5px 0;
		}
		.banner__btn {
			display: none;
		}
	}

	.top {
		display: none;
	}
	.header {
		height: 70px;
		.nav {
			display: none;
		}
	}
}
@media screen and (min-width: 430px) {
	main {
		.banner {
			.banner__one {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 33px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 33px;
				}
			}
			.banner__two {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 33px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 33px;
				}
			}
			.banner__three {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 33px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 33px;
				}
			}
		}
		.homeSlider {
			.homeSlider__photo {
				.homeSlider__text {
					width: 200px;
					.homeSlider__heading {
						font-size: 17px;
					}
					.homeSlider__subheading {
						font-size: 17px;
					}
					.homeSlider__info {
						font-size: 11px;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 600px) {
	main {
		.banner {
			.banner__one {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 41px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 41px;
				}
			}
			.banner__two {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 43px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 43px;
				}
			}
			.banner__three {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 43px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 43px;
				}
			}
		}
		.homeSlider {
			.homeSlider__photo {
				.homeSlider__text {
					width: 300px;
					.homeSlider__heading {
						font-size: 22px;
					}
					.homeSlider__subheading {
						font-size: 22px;
					}
					.homeSlider__info {
						font-size: 14px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.banner {
		display: flex;
		flex-direction: row;
		.banner__two {
			margin: 0 5px;
		}
	}
	.mobileNav {
		display: none;
	}
	.top {
		display: flex;
		.header__logoMobile {
			display: none;
		}
	}
	.header {
		height: 140px;
		.header__logo {
			display: block;
		}
		.header__logoMobile {
			display: none;
		}
		.nav {
			display: flex;
		}
	}
	.hamburger {
		display: none;
	}
	main {
		.banner {
			.banner__one {
				.banner__headline {
					position: absolute;
					top: 13%;
					left: 4%;
					font-size: 19px;
				}
				.banner__subheading {
					position: absolute;
					top: 28%;
					left: 4%;
					font-size: 19px;
				}
			}
			.banner__two {
				.banner__headline {
					position: absolute;
					top: 13%;
					left: 4%;
					font-size: 19px;
				}
				.banner__subheading {
					position: absolute;
					top: 28%;
					left: 4%;
					font-size: 20px;
				}
			}
			.banner__three {
				.banner__headline {
					position: absolute;
					top: 13%;
					left: 4%;
					font-size: 19px;
				}
				.banner__subheading {
					position: absolute;
					top: 28%;
					left: 4%;
					font-size: 20px;
				}
			}
			.banner__btn {
				position: absolute;
				display: block;
				top: 68%;
				width: 50%;
				height: 50px;
			}
		}
		.homeSlider {
			.homeSlider__photo {
				.homeSlider__text {
					top: 5%;
					width: 300px;
					.homeSlider__heading {
						font-size: 30px;
					}
					.homeSlider__subheading {
						font-size: 30px;
					}
					.homeSlider__info {
						font-size: 16px;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 850px) {
	.header {
		.top {
			.top__row {
				left: 39%;
			}
		}
	}
	main {
		.banner {
			.banner__one {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 19px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 20px;
				}
			}
			.banner__two {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 20px;
				}
				.banner__subheading {
					position: absolute;
					top: 40%;
					left: 8%;
					font-size: 20px;
				}
			}
			.banner__three {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 20px;
				}
				.banner__subheading {
					position: absolute;
					top: 40%;
					left: 8%;
					font-size: 20px;
				}
			}
		}
	}
}
@media screen and (min-width: 992px) {
	.header {
		.top {
			.top__row {
				left: 46%;
			}
		}
	}
	main {
		.banner {
			.banner__one {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 23px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 23px;
				}
			}
			.banner__two {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 23px;
				}
				.banner__subheading {
					position: absolute;
					top: 40%;
					left: 8%;
					font-size: 23px;
				}
			}
			.banner__three {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 23px;
				}
				.banner__subheading {
					position: absolute;
					top: 40%;
					left: 8%;
					font-size: 23px;
				}
			}
		}

		.homeSlider {
			.homeSlider__photo {
				.homeSlider__text {
					top: 10%;
					width: 300px;
					.homeSlider__heading {
						font-size: 22px;
					}
					.homeSlider__subheading {
						font-size: 22px;
					}
					.homeSlider__info {
						font-size: 18px;
					}
				}
			}
			.homeSlider__next {
				font-size: 18px;
				width: 40px;
			}
			.homeSlider__prev {
				font-size: 18px;
				width: 40px;
			}
		}
	}
}
@media screen and (min-width: 1150px) {
	.header {
		.top {
			.top__row {
				width: 400px;
				left: 47%;
				.top__contact {
					span {
						font-size: 14px;
					}
				}
				.top__favourite {
					span {
						font-size: 14px;
					}
				}
				.top__account {
					left: 60%;
					span {
						font-size: 14px;
					}
				}
			}
		}
	}
	main {
		.banner {
			.banner__one {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 27px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 27px;
				}
			}
			.banner__two {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 27px;
				}
				.banner__subheading {
					position: absolute;
					top: 40%;
					left: 8%;
					font-size: 27px;
				}
			}
			.banner__three {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 27px;
				}
				.banner__subheading {
					position: absolute;
					top: 40%;
					left: 8%;
					font-size: 27px;
				}
			}
		}
	}
}
@media screen and (min-width: 1400px) {
	.header {
		.top {
			.top__row {
				left: 57%;
			}
		}
	}
	main {
		.banner {
			.banner__one {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 33px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 33px;
				}
			}
			.banner__two {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 33px;
				}
				.banner__subheading {
					position: absolute;
					top: 40%;
					left: 8%;
					font-size: 33px;
				}
			}
			.banner__three {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 33px;
				}
				.banner__subheading {
					position: absolute;
					top: 40%;
					left: 8%;
					font-size: 33px;
				}
			}
			.banner__btn {
				position: absolute;
				display: block;
				top: 68%;
				width: 50%;
				height: 60px;
			}
		}

		.homeSlider {
			.homeSlider__photo {
				.homeSlider__text {
					top: 10%;
					width: 400px;
					.homeSlider__heading {
						font-size: 40px;
					}
					.homeSlider__subheading {
						font-size: 40px;
					}
					.homeSlider__info {
						font-size: 20px;
					}
				}
			}
			.homeSlider__next {
				font-size: 24px;
				height: 70px;
				width: 60px;
			}
			.homeSlider__prev {
				font-size: 24px;
				height: 70px;
				width: 60px;
			}
		}
	}
}
@media screen and (min-width: 1700px) {
	.header {
		.top {
			.top__row {
				left: 65%;
			}
		}
	}
	main {
		.banner {
			.banner__one {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 44px;
				}
				.banner__subheading {
					position: absolute;
					top: 38%;
					left: 8%;
					font-size: 44px;
				}
			}
			.banner__two {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 44px;
				}
				.banner__subheading {
					position: absolute;
					top: 40%;
					left: 8%;
					font-size: 44px;
				}
			}
			.banner__three {
				.banner__headline {
					position: absolute;
					top: 25%;
					left: 8%;
					font-size: 44px;
				}
				.banner__subheading {
					position: absolute;
					top: 40%;
					left: 8%;
					font-size: 44px;
				}
			}
		}

		.homeSlider {
			.homeSlider__photo {
				.homeSlider__text {
					top: 10%;
					width: 470px;
					.homeSlider__heading {
						font-size: 50px;
					}
					.homeSlider__subheading {
						font-size: 50px;
					}
					.homeSlider__info {
						font-size: 26px;
					}
				}
			}
		}
	}
}
